<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Unimed</title>
    <link rel="stylesheet" href="../static/style_login.css">
</head>
<body>
    <div class="card">
        <h2>Login</h2>
        <h3>Entre com suas credenciais</h3>
        <form class="form" action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <label>
                <input type="checkbox" />
                <span class="checkbox-wrapper">
                    <span class="checkbox"></span>
                </span>
                <span class="checkbox-text">
                    Mantenha-me conectado
                </span>
            </label>
            <button type="submit">Login</button>
        </form>

    </div>
</body>
</html>